
#header{
    display:flex;
}

#headertext{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-image: linear-gradient(333deg,rgba(5, 251, 255, 1) 1%, rgba(154, 87, 199, 1) 51%, rgba(229, 83, 237, 1) 100%);
    color: transparent;
    background-clip: text;
    font-size: 5em;
}